<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <style>
      html,
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Roboto", sans-serif;
      }
    </style>
    <title>timezone</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>Adelaide, South Australia</h1>
          <p>The date/time in Adelaide is currently {{Adelaide}}</p>
        </div>
        <div>
          <p>
            <img src="{{ url_for('static', filename='images/Australia.jpeg') }}"
            />
          </p>
        </div>
      </div>
    
      <div">
        <div>
          <h1>California, United States of America</h1>
          <p>The date/time in California is currently {{California}}</p>
        </div>
        <div>
          <p>
            <img src="{{ url_for('static', filename='images/United_States.jpeg') }}"
            />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
