<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <style>
      html,
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Roboto", sans-serif;
      }
    </style>
    <title>timezone</title>
  </head>
  <body>
    <div class="w3-main" style="margin-left: 125px">
      <div class="w3-row w3-padding-64">
        <div class="w3-third w3-container">
          <h1 class="w3-text-teal">Adelaide, South Australia</h1>
          <p>The date/time in Adelaide is currently {{Adelaide}}</p>
        </div>
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-small w3-padding-32 w3-center">
            <img
              class="w3-image"
              src="https://www.sciencekids.co.nz/images/pictures/flags680/Australia.jpg"
              alt="Austrlia.jpeg"
            />
          </p>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-third w3-container">
          <h1 class="w3-text-teal">California, United States of America</h1>
          <p>The date/time in California is currently {{California}}</p>
        </div>
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-small w3-padding-32 w3-center">
            <img
              class="w3-image"
              src="https://www.sciencekids.co.nz/images/pictures/flags680/United_States.jpg"
              alt="United_States.jpeg"
            />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
